* {
    margin: 0;
    padding: 0;
}

.movewrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1512px;
    width: 100%;
    height: 100%;
}

.moving {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/main.png') 0 center / 90% repeat-x;
    animation: moveright 20s linear infinite;
}

@keyframes moveright {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 1800% center;
    }
}

.character {
    z-index: 100;
    -webkit-animation: head-move 1s ease-in-out infinite;
    width: 60px;
    height: 120px;
}

.characters > :nth-child(2):hover {
    height: 120px;
}

.characters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

/**/
@-webkit-keyframes head-move {
    50% {
        -webkit-transform: rotate(-1.5deg);
    }
}

.characters ul li {
    display: inline-block;
    vertical-align: top;
    width: 10%;
}

.characters ul li img {
    width: auto;
    margin: 10px;
    width: 100%;
    transition: transform 2s;
}

.characters ul li img:hover {
    transform: scale(1.2);
}

.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30%;
}

.activeImage {
    transform: scale(1.2);
}
